body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.placar {
    display: flex;
    justify-content: space-around;
    width: 155px;
    height: 120px;
    background-color: black;
}
.placar, span {
    color: #F94F6D;
    font-size: 100px;
    font-family: 'Cursed Timer ULiL', sans-serif;                                               
}

.btn {
    background-color: #1B244A;
    color: #9AABD8;
    border: 1.5px solid #9AABD8;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    width: 40px;
    height: 40px;
    font-size: 15px;
}

.btn-board {
    display: flex;
    justify-content:space-between;
    padding-top: 20px;
}

.restart-game {
    display: flex;
    justify-content: center;   
    padding-top: 30px ;
}

.btn-restart {
    background-color: #1B244A;
    color: #9AABD8;
    border: 1.5px solid #9AABD8;
    border-radius: 5px;   
    font-size: 15px;
}

